.my_calculator {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    background-color: aqua;
    padding: 20px;
    border: 1px solid black;


}
.my_calculator .operations-block button {
    height: 40px;
    width: 40px;
    margin: 20px;
}

.my_calculator .inputs-block .input-block label {
    display: block;
}

.my_calculator .inputs-block div {
    display: inline-block;
    padding: 10px;
}